
  <div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to Product Management site</h1>
      <p class="lead">Your one-stop solution to manage Products and Orders.</p>
      <hr class="my-4">
      <p>Navigate to your desired section below:</p>
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">View, add, or edit products in your store.</p>
            <a class="btn btn-primary btn-lg" href="/products" role="button">Manage Products</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Categories</h5>
            <p class="card-text">Organize your products into categories.</p>
            <a class="btn btn-primary btn-lg" href="/categories" role="button">Manage Categories</a>        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Clients</h5>
            <p class="card-text">Manage Clients and their details.</p>
            <a class="btn btn-primary btn-lg" href="/clients" role="button">Manage Clients</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Producers</h5>
            <p class="card-text">View and manage your producers.</p>
            <a class="btn btn-primary btn-lg" href="/producers" role="button">Manage Producers</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Orders</h5>
            <p class="card-text">Manage client orders effectively.</p>
            <a class="btn btn-primary btn-lg" href="/orders" role="button">Manage Orders</a>
          </div>
        </div>
      </div>

    </div>

  </div>
