<div class="container mt-5">
  <h1 class="text-center">New Producer</h1>

  <div class="mb-3">
    <%= link_to 'Back to Producers', producers_path, class: "btn btn-secondary" %>
  </div>

  <%= render 'form', producer: @producer %>
</div>
