<div class="container mt-5">
  <h1 class="text-center">New Category</h1>

  <div class="mb-3">
    <%= link_to 'Back to Categories', categories_path, class: "btn btn-secondary" %>
  </div>

  <%= render 'form', category: @category %>
</div>
