<div class="container mt-5">
  <h1 class="text-center">New Product</h1>

  <div class="mb-3">
    <%= link_to 'Back to Products', products_path, class: "btn btn-secondary" %>
  </div>

  <%= render 'form', product: @product %>
</div>
